* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "DM Sans";
}


.todoApp {
  display: flex;
  flex-direction: column;
  background-color: #EEF5FF;
  width: 100%;
  height: 100%;

}

.auth {
  padding: 2rem;
  border: solid 2px gray;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 1.5rem;
  background-color: white;

}


.auth-background {
  background-color: #EEF5FF;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.message {
  color: red;
}

.message-green {
  color: green
}

.auth_navbar {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

.auth-nav-btn {
  padding: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
}

.auth-nav-btn-active {
  padding: 0.5rem;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: solid 4px #0B60B0;
  cursor: pointer;
}

.login-label {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}

.input_group {
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: column;

}

.button_group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login_btn {
  padding: 0.6rem;
  border-radius: 0.3rem;
  border: solid 2px #0B60B0;
  background-color: #0B60B0;
  color: #EEF5FF;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
}

.new-button {
  text-align: end;
}

.newContainer {
  width: 100%;
  height: 100%;
}

.newtask-btn {
  padding: 1rem;
  margin-right: 12rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background-color: #0B60B0;
  color: white;
  font-weight: bold;
  border: solid 1px #0B60B0;

}


th {
  padding: 1.2rem;
}

td {
  padding: 1rem;

}

tbody {
  align-items: center;
}

.bar {
  height: 0.2rem;
  background-color: #0B60B0;
  margin: 0;

}

.taskListing {
  border: solid 1.5px gray;
  padding: 1.3rem;
  margin: 1.3rem auto;
  border-radius: 1.3rem;
  text-align: center;
  width: fit-content;
  box-shadow: 3px 3px 15px gray;
  background-color: white;

}

.modelBackground {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: #EEF5FF;
}

.modelContainer {
  display: flex;
  width: max-content;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 15px black;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: solid 1.5px black;

}

textarea {
  resize: none;
  border-radius: 1rem;
  padding: 1rem;
}

textarea::selection {
  resize: none;
  color: white;
  background-color: #FF6C22;
}

.title {
  text-align: center;
  background-color: #0B60B0;
  color: white;
  padding: 0.4rem;
  margin-bottom: 1rem;
  width: 100%;
}

.heading {
  color: white;
  width: 100%;
}

.errorMessage {
  color: red;
}

.exit-button {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.cancel {
  padding: 0;
}

.inputs {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 1px gray;
  font-size: 1.2rem;
}

input:focus {
  padding: 0.5rem;
  border-radius: 0.5rem;

}

.input::selection {
  background-color: #FF6C22;
  color: white;
}

.lables {
  margin: 0.5rem 0;
}

.cancel {
  color: red;
  background-color: white;
  border: solid 2px red;
  padding: 0.4rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;

}

.cancel:hover {
  color: white;
  background-color: red;
  border: solid 2px red;
  padding: 0.4rem;
  border-radius: 0.4rem;
  cursor: pointer
}

.cancle-btn {
  background-color: rgb(147, 23, 23);
  color: white;
  padding: 1rem;
  margin: 1.5rem;
  cursor: pointer;

}

.cancel-disabled {
  background-color: rgb(147, 23, 23);
  color: white;
  padding: 0.4rem;
  opacity: 0.2;
  cursor: not-allowed;
  border-radius: 0.4rem;
  font-weight: bold;
}

.operations {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.4rem;

}

.save-btn {
  background-color: white;
  color: green;
  border: solid 2px green;
  padding: 0.4rem;
  margin: 0.4rem;
  cursor: pointer;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.save-btn:hover {
  background-color: green;
  color: white;
  border: solid 2px green;
  padding: 0.4rem;
  margin: 0.4rem;
  cursor: pointer;
  border-radius: 0.4rem;
  cursor: pointer;
}

.edit-btn {
  background-color: white;
  color: #0B60B0;
  border: solid 2px #0B60B0;
  padding: 0.4rem;
  margin: 0.4rem;
  cursor: pointer;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.edit-btn:hover {
  background-color: #0B60B0;
  color: white;
  border: solid 2px #0B60B0;
  padding: 0.4rem;
  margin: 0.4rem;
  cursor: pointer;
  border-radius: 0.4rem;
  cursor: pointer;
}